body{
	position:relative;
	min-height:100%;
	height:auto;
	background:url(../graphics/background.jpg);
	max-height:950px;
	background-repeat:repeat;
	width:100%;
}
.logo_holder {
	width: 100%;
	display: block;
	float: left;
	position: relative;
	max-width: 330px;
	height:69px;
	margin-bottom:7px;
}
.wrapper{
	width:100%;
	height:auto;
	margin:0 auto;
	background:url(../graphics/blue_trans_bg.png);
	background-repeat:repeat;
	overflow:hidden;
}
.content{
	background:url(../graphics/white_trans_bg.png);
	background-repeat:repeat;
	border-radius:6px;
	width: 95%;
	margin:0 auto 10px;
	overflow: hidden;
}
.progress{
	overflow: hidden;
	float: left;
	width: 100%;
	background-image:url(../graphics/header-background.jpg);
	border-bottom-right-radius: 6px;
	border-bottom-left-radius:6px;
	margin-top: 10px;
	padding-bottom: 24px;
}
a{
	text-decoration:none;
}
.a-nav{
	text-decoration:none;
	color:white;
	padding:18px 0 10px;
}
.portfolio-link{color:#FFF500;}

.a-nav:link{color:#FFF;}
.a-nav:hover{color:#FFF500; border-top: 3px solid #FFF500; transition:border-top .3s;}
.a-nav:visited{color:;}
.a-nav:active{color:#FFF500;}

#menubtn{
	background-image:url(../images/menu-icon.png);
	visibility:visible;
	display:block;
	position:fixed;
	right:10px;
	top:30px;
	width:38px;
	height:38px;
}
#menubtn:hover{
	background-image:url(../images/menu-icon-hover.png);
}
.lrgnav{
	display:none;
	visibility:hidden;
}
header{
	background-image:url(../graphics/header-background.jpg);
	max-height:76px;
	background-repeat:repeat;
	width:100%;
	border-bottom:solid 4px #FFF500;
	z-index:99;
}
.skate_progress{
	border:none;
	width:100%;
	display:block;
}
.logo{
		margin:0 auto;
		max-height:96px;
		max-width:308px;
		width:100%;
}
h1{
	margin-top:10px;
	margin: 18px 0 0 20px;
	font-family: 'KomikaDisplayRegular';
	font-size:1.3em;
	color:white;
	padding-bottom:8px;
}
h2, h3{
	color: #0968c0;
	font-family: 'KomikaDisplayRegular';
	font-size: 1.4em;
}
article{
	width:96%;
	margin:22px 2% 4px 2%;
	float:left;
	border-bottom: solid 1px #0968C0;
	padding-bottom: 10px;
}
p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	padding:5px 6px 0;
}
.nav-li{
	width:100%;
	font-family:Corbel;
	font-size:1.6em;
	text-align:left;
	font-weight:900;
	color:white;
	border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

ul{
		
	width:100%;
	list-style-type:none;
}
.nav{
	width:100%;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.cart{
	width:93%;
	background:url(../graphics/white_trans_bg.png);
	border-radius:6px;
	padding-left:10px;
	float: left;
	margin: 0 2% 12px;
}
.in_cart{
	overflow: hidden;
}
.cart_label{
	margin: 10px 0;
	font-size: 1.8em;
	color: #333;
}
.progress_container{
	width:100%;
	position:relative;
	margin:0 %;
	max-width:250px;
	height:135px;
	width:250px;
}
.products{
	margin:15px 3%;
}
.price{
	font-size:1.2em;
	color:#043d72;
}
.cart_price{
	font-size:1.0em;
	color:#043d72;
}

#progress_board{ 
	position:absolute;
	z-index:1;
	background:none;
}
#progress_deck{ 
	z-index:2;
	position:absolute;
	background:none;
}
#progress_design{ 
	z-index:3;
	position:absolute;
	background:none;
}

#progress_skateboard{ 
	z-index:1;
	position:absolute;
	background:none;
	
}
#progress_grip{ 
	z-index:2;
	position:absolute;
	background:none;
}
#progress_wheel{
	z-index:3;
	position:absolute;
	background:none;	
}
.active{
	background-image:url(../graphics/active-btn.PNG);
	border: 2px solid #FFF500;
	border-right: none;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
footer{
	height: 79px;
	width: 100%;
	background-image: url(../graphics/header-background.jpg);
	position: relative;
	bottom: -9px;
	margin-top: -9px;
	border-top: solid 4px #FFF500;
}
.footer-p{
	text-align: center;
	color: #FFF;
	margin-top: 30px;
}
@media screen and (min-width:0px) and (max-width:590px){
.back-next-btn{
	margin: 16px 0 0 16%;
	padding: 12px 2px;
	display: block;
}
}
@media screen and (min-width:590px){
.wrapper{
	width:100%;
	margin:0 auto;
	padding-bottom:10px;
}

.cart{
	width:34%;
	margin: 0 0 0 2%;
	position: fixed;
	right: 18px;
	top: 132px;
}
.in_cart{
	overflow:visible;
}
.content{
	width:58%;
	float:left;
	margin:0 0 25px 2%;
}

h1{
	width:95%;
	float:left;
	margin: 18px 0 0 20px;
	font-size:1.6em;
	color:#white;
}
.nav-li{
	border-bottom:none;
}

.progress_container{
	width:100%;
	margin: 20px 10% 0;
	float: left;
}
.lrgnav{
	display:none;
	visibility:hidden;
}

}
@media screen and (min-width:761px){
.wrapper{
		padding-top:50px;
}
h1{
	font-size:1.5em;
}
.products{
	margin:15px 25%;
}
#menu{
	visibility:hidden;
	display:none;
}
#menubtn{
	display:none;
	visibility:hidden;
}
.lrgnav{
	position: relative;
	width: 100%;
	height:50px;
	overflow: hidden;
	top: 0px;
	display:block;
	visibility:visible;
}
.active{
	background-image:url(../graphics/header-background.jpg);
	padding: 10px 10px 12px;
	border: 4px solid #FFF500;
	border-top: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.content{
	margin:0 0 0 2%;
	width:70%;
	float:left;
}
.cart{
	position: static;
	right: 0;
	top: 0s;
	width:24%;
}
.a-nav{
	padding: 13px 4px 5px;
}
.nav-li{
	width:16.5%;
	float:left;
	padding-top: 12px;
	text-align:center;
}
article{
	float:left;
	border:none;
	margin:22px 1% 4px;
	width:31%;
}
.progress_container{
	width:44%;
	float:left;
	margin-top:32px;
	margin: 20px 3% 0;
}
.back-next-btn{
	margin: 25px 15% 0;
}
}
@media screen and (min-width:1100px){
.wrapper{
	width:1100px;
	margin:0 auto;
	padding-top: 18px;
	padding-bottom: 38px;
}
.lrgnav{
	display:block;
	visibility:visible;
	position: static;
	overflow: visible;

}
h1{
	font-size:1.6em;
}
.footer{
	height: 5.8em;
	margin-top:-5.8em;
}

section{
	width:70%;
	float:left;
}
.content{
	margin:0 0 0 1%;
}
.nav-li{
	width:15%;
	display:inline-block;
	font-size:20px;
	padding-top:0px;
}
.active{
	background-image:url(../graphics/active-btn.PNG);
	padding: 10px 10px 12px;
	border: 4px solid #FFF500;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
a{
	text-decoration:none;
}
ul{
	width:100%;
	list-style-type:none;
}
.nav{
	width: 100%;
	float: left;
	top: 46px;
	position: relative;
	max-width: 745px;
	left: 0;

}
.progress_container{
	width:46%;
	margin:35px 7% 0;
}
article{
	float:left;
	width:25%;
	margin:22px 4% 4px;
}

}